In [1]:
import sqlalchemy

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [5]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [6]:
from sqlalchemy import Column, Integer, String

In [7]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

In [8]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

In [9]:
Base.metadata.create_all(engine)

2018-01-31 21:46:38,066 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-01-31 21:46:38,073 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 21:46:38,075 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-01-31 21:46:38,076 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 21:46:38,078 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-01-31 21:46:38,080 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 21:46:38,083 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-01-31 21:46:38,084 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 21:46:38,087 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
from sqlalchemy.orm import sessionmaker

In [16]:
Session = sessionmaker(bind=engine)
session = Session()

In [18]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
session.add(ed_user)

In [19]:
our_user = session.query(User).filter_by(name='ed').first()
our_user

2018-01-31 21:53:36,972 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-31 21:53:36,975 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 21:53:36,977 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2018-01-31 21:53:36,981 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-01-31 21:53:36,982 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [20]:
ed_user is our_user

True

In [22]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
    User(name='mary', fullname='Mary Contrary', password='xxg527'),
    User(name='fred', fullname='Fred Flinstone', password='blah')
])

In [23]:
ed_user.password = 'f8s7ccs'

In [24]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>])

In [25]:
session.new

IdentitySet([<User(name='wendy', fullname='Wendy Williams', password='foobar')>, <User(name='mary', fullname='Mary Contrary', password='xxg527')>, <User(name='fred', fullname='Fred Flinstone', password='blah')>])

In [26]:
session.commit()

2018-01-31 21:58:59,971 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=? WHERE users.id = ?
2018-01-31 21:58:59,973 INFO sqlalchemy.engine.base.Engine ('f8s7ccs', 1)
2018-01-31 21:58:59,976 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 21:58:59,977 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2018-01-31 21:58:59,979 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 21:58:59,980 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2018-01-31 21:58:59,982 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 21:58:59,984 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2018-01-31 21:58:59,986 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
ed_user.id

2018-01-31 21:59:37,332 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-31 21:59:37,334 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2018-01-31 21:59:37,336 INFO sqlalchemy.engine.base.Engine (1,)

1

In [28]:
ed_user.name = 'Edwardo'
fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
session.add(fake_user)

In [29]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2018-01-31 22:01:05,841 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?
2018-01-31 22:01:05,842 INFO sqlalchemy.engine.base.Engine ('Edwardo', 1)
2018-01-31 22:01:05,845 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 22:01:05,845 INFO sqlalchemy.engine.base.Engine ('fakeuser', 'Invalid', '12345')
2018-01-31 22:01:05,848 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2018-01-31 22:01:05,849 INFO sqlalchemy.engine.base.Engine ('Edwardo', 'fakeuser')

[<User(name='Edwardo', fullname='Ed Jones', password='f8s7ccs')>,
 <User(name='fakeuser', fullname='Invalid', password='12345')>]

In [30]:
session.rollback()

2018-01-31 22:01:31,801 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [31]:
ed_user.name

2018-01-31 22:01:40,904 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-31 22:01:40,906 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2018-01-31 22:01:40,908 INFO sqlalchemy.engine.base.Engine (1,)

'ed'

In [32]:
fake_user in session

False

In [33]:
import sqlite3

In [35]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()
 
create_connection("C:/Users/val31/Desktop/Projects/mp3scrape/sqlitemp3.db")

2.6.0

In [37]:
engine = create_engine('sqlite:///sqlitemp3.db', echo=True)

In [38]:
Base = declarative_base()

In [39]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

In [40]:
Base.metadata.create_all(engine)

2018-01-31 22:19:07,337 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-01-31 22:19:07,340 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 22:19:07,342 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-01-31 22:19:07,343 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 22:19:07,350 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-01-31 22:19:07,351 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 22:19:07,356 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-01-31 22:19:07,357 INFO sqlalchemy.engine.base.Engine ()
2018-01-31 22:19:07,381 INFO sqlalchemy.engine.base.Engine COMMIT

In [41]:
Session = sessionmaker(bind=engine)
session = Session()

In [42]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
session.add(ed_user)

In [43]:
session.commit()

2018-01-31 22:19:59,903 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-31 22:19:59,906 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 22:19:59,908 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2018-01-31 22:19:59,912 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
    User(name='mary', fullname='Mary Contrary', password='xxg527'),
    User(name='fred', fullname='Fred Flinstone', password='blah')
])

In [45]:
session.commit()

2018-01-31 22:20:29,003 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-31 22:20:29,005 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 22:20:29,007 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2018-01-31 22:20:29,010 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 22:20:29,011 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2018-01-31 22:20:29,013 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-01-31 22:20:29,014 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2018-01-31 22:20:29,016 INFO sqlalchemy.engine.base.Engine COMMIT

In [46]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2018-01-31 22:21:07,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-31 22:21:07,466 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2018-01-31 22:21:07,468 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [47]:
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

2018-01-31 22:21:59,637 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2018-01-31 22:21:59,640 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [48]:
for row in session.query(User, User.name).all():
    print(row.User, row.name)

2018-01-31 22:22:33,623 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2018-01-31 22:22:33,625 INFO sqlalchemy.engine.base.Engine ()
<User(name='ed', fullname='Ed Jones', password='edspassword')> ed
<User(name='wendy', fullname='Wendy Williams', password='foobar')> wendy
<User(name='mary', fullname='Mary Contrary', password='xxg527')> mary
<User(name='fred', fullname='Fred Flinstone', password='blah')> fred

In [49]:
query = session.query(User).filter(User.name.like('%ed')).order_by(User.id)
query.all()

2018-02-01 13:56:21,289 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id
2018-02-01 13:56:21,297 INFO sqlalchemy.engine.base.Engine ('%ed',)

[<User(name='ed', fullname='Ed Jones', password='edspassword')>,
 <User(name='fred', fullname='Fred Flinstone', password='blah')>]

In [50]:
query.first()

2018-02-01 13:56:44,693 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id
 LIMIT ? OFFSET ?
2018-02-01 13:56:44,694 INFO sqlalchemy.engine.base.Engine ('%ed', 1, 0)

In [51]:
from sqlalchemy import func

In [52]:
session.query(func.count(User.name), User.name).group_by(User.name).all()

2018-02-02 20:35:40,468 INFO sqlalchemy.engine.base.Engine SELECT count(users.name) AS count_1, users.name AS users_name
FROM users GROUP BY users.name
2018-02-02 20:35:40,471 INFO sqlalchemy.engine.base.Engine ()

[(1, 'ed'), (1, 'fred'), (1, 'mary'), (1, 'wendy')]